<ion-nav-bar class="bar-assertive">

</ion-nav-bar>
<ion-tabs class="tabs-background-assertive tabs-color-light tabs-icon-only">

  <ion-tab title="Home" icon="ion-android-home" ui-sref="app.home">
    <ion-nav-view name="homeContent">
  </ion-tab>

  <ion-tab title="Score" icon="ion-android-list" ui-sref="app.score">
    <ion-nav-view name="scoreContent">
  </ion-tab>

  <ion-tab title="Setting" icon="ion-android-settings" ui-sref="app.setting">
    <ion-nav-view name="settingContent">
  </ion-tab>

</ion-tabs>
